.advantages {
  padding: 95px 0 126px;
  margin-bottom: 100px;

  text-align: center;

  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 88px 0 94px;
    margin-bottom: 92px;
  }

  @include vp-767 {
    padding: 61px 0;
    margin-bottom: 65px;
  }
}

.advantages h2 {
  padding-left: 8px;
  margin: 3px 0 38px;

  font-family: $ff-alumni-sans;
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: 0.03em;

  @include vp-1199 {
    padding-right: 20px;
    padding-left: 0;
    margin-bottom: 34px;

    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 39px;

    font-size: 32px;
    line-height: 38px;
  }
}

.advantages__list {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  column-gap: 60px;
  max-width: 1020px;
  margin: 0 auto;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    row-gap: 30px;
    column-gap: 27px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  display: grid;
  grid-column: -2/-1;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "advantage-subtitle main-title"
    "advantage-subtitle description";

  padding-bottom: 70px;
  margin: 0 0 65px;
  text-align: left;

  border-bottom: 2px solid fade-out($color-crimson, 0.8);

  &:nth-child(2n) {
    grid-column: 1/2;
    padding-left: 8px;
  }

  &:nth-last-child(-n + 2) {
    padding-bottom: 0;
    margin-bottom: 0;

    border-bottom: 2px solid transparent;
  }

  & h3 {
    grid-area: main-title;
    margin: 0;
    margin-top: 10px;

    font-size: 22px;
    line-height: 33px;
  }

  & p {
    grid-area: description;
    margin: 6px 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }

  &--main {
    grid-template-areas:
      "main-title"
      "description";
    grid-template-columns: auto;
    grid-row: 1/3;
    grid-column: 2/3;
    max-width: 240px;
    padding: 36px 34px 44px;
    margin: 18px auto 13px;

    color: $color-default-white;
    text-align: center;

    background-color: $color-resolution-blue;
    border: none;

    & .advantages__item-number {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 26px;
      line-height: 32px;
    }

    & p {
      margin: 23px 0 0;
    }
  }

  @include vp-1199 {
    min-width: 100%;
    padding-left: 2px;
    padding-bottom: 0;
    margin: 0;

    border: none;

    &:nth-child(2n) {
      padding-left: 0;
    }

    & h3 {
      font-size: 20px;
      line-height: 30px;
    }

    & p {
      margin: 1px 0 0;
    }

    &--main {
      min-width: 442px;
      grid-column: 1/-1;
      grid-row: 2/3;
      max-width: 100%;
      padding: 26px 34px 40px;
      margin: 14px auto 0;

      & h3,
      p {
        max-width: 227px;
        margin-left: auto;
        margin-right: auto;
      }

      & span + span {
        font-size: 22px;
        line-height: 39px;
      }

      & p {
        margin: 14px auto 0;
      }
    }
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 0;

    text-align: center;

    &:nth-child(2n) {
      padding-left: 15px;
    }

    &:nth-last-child(-n + 2) {
      margin: 0;
    }

    & h3,
    p {
      margin-top: 1px;
      max-width: 227px;
    }

    & p {
      margin-top: 2px;
    }

    &--main {
      grid-row: 3/4;
      min-width: 100%;
      padding: 31px 34px 45px;
      margin: 13px 0 7px;

      & p {
        margin-top: 8px;
      }

      & h3 {
        margin-bottom: 6px;
      }
    }
  }
}

.advantages__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 60px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.advantages__item-number {
  & span:first-child {
    margin-top: 12px;

    font-size: 74px;
    line-height: 85px;
    font-weight: 700;
  }

  &--column {
    grid-area: advantage-subtitle;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 30px;

    background-color: $color-persian-blue;
    background-image: $red-to-blue;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    & span:first-child {
      font-size: 71px;
      line-height: 60px;
    }

    & span + span {
      font-size: 14px;
      line-height: 21px;
      color: $color-persian-blue;

      -webkit-text-fill-color: $color-persian-blue;
    }
  }

  @include vp-1199 {
    & span:first-child {
      line-height: 66px;
    }

    &--column {
      margin-top: 5px;

      & span:first-child {
        font-size: 58px;
        line-height: 46px;
      }
    }
  }

  @include vp-767 {
    max-width: 227px;

    &--column {
      order: -1;
      margin: 0 0 6px;
    }

    &--main span:first-child {
      line-height: 59px;
    }
  }
}
