.btn {
  display: inline-flex;
  padding: 21px 25px;

  font-family: $ff-roboto-condensed;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;

  border: 2px solid $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;

  &--blue {
    border-color: $color-sapphire;
    color: $color-sapphire;
  }

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}
